<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DispatchServlet</servlet-name>
		<servlet-class>mvc.DispatchServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>mvc.xml</param-value>
		</init-param>
		<!-- 加了这一句，容器启动的时候就可以执行代码,否则发送请求才能输出dispatchservlet里的打桩语句 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatchServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>AccessFilter</display-name>
		<filter-name>AccessFilter</filter-name>
		<filter-class>mvc.AccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
</web-app>